body{
text-align: center;
background-image: url(https://www.uv.es/recursos/fatwirepub/ccurl/679/167/foto-dana-uwm-01-torre.jpg);

    
}
h1, h2{
    text-align: center;
    color: rgb(101, 55, 10);
    font-family: Georgia, 'Times New Roman', Times, serif;


}
iframe{

}
