body{
text-align: center;
background-image: url(https://www.zonamovilidad.es/fotos/2/telecos-responden-crisis-valencia-dana.jpg);
background-repeat: no-repeat;
background-size: cover;
}
h1, h2{
    text-align: center;
    color: rgb(7, 4, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    float: center;
    margin-right: 10px;
    width: ;
}
a{

    background: rgb(255, 255, 255);
    
}
p{
font-size: width: 20px;
background: white;
}
footer {
  position: relative;
  width: 100%;
  background: #286bcf;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: black;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }




