body{
text-align: center;
background-image: url(https://www.zonamovilidad.es/fotos/2/telecos-responden-crisis-valencia-dana.jpg);
background-repeat: no-repeat;
background-size: cover;
}
h1, h2{
    text-align: center;
    color: rgb(7, 4, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    float: center;
    margin-right: 10px;
    width: ;
}
a{

    background: rgb(255, 255, 255);
    
}
.IMG{
WIDTH
}
p{
font-size: width: 20px;
background: white;
color::-webkit-scrollbar-track
}





